
body, html {
	margin: 0;
	border: 1px solid;
	background-color: #333;
	overflow: hidden;
	font-family: Helvetica, sans-serif;
}

html {
	height: 100%;
}

.resizeHandle {
	background-image: url(handle.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 24px;
	background-color: #222;
	color: #aaa;
	font-size: 14pt;
	padding: 8px;
}

#card-container {
	position: absolute;
	top: 40px;
	bottom: 30px;
	left: 0px;
	right: -17px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 25px;
	color: #aaa;
	padding: 4px 8px;
	font-size: 14pt;
	background-color: #222;
}

.card {
	margin: 1px;
	padding: 10px;
	display: block;
	background-color: #aaa;
	position: relative;
}

.card span {
	z-index: 1;
	margin-right: 8px;
	position: relative;
}

.card-bar {
	display: block;
	position: absolute;
	background-color: #777;
	height: 100%;
	width: 0%;
	left: 0px;
	top: 0px;
	z-index:0;
}